OM.Integration.FOM.module/Schemas/om.integration.fom/FlowInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FlowInfo" xmlns:tns="http://www.example.org/FlowInfo" elementFormDefault="qualified">

    <element name="FlowInfo" type="tns:FlowInfoComplexType"></element>

    <complexType name="FlowInfoComplexType">
    	<sequence>
    		<element name="correlationId" type="string"></element>
    	</sequence>
    </complexType>
</schema>